@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* === Light Mode Defaults === */
@theme{
   --color-primary: #0037EB;
  --color-secondary: #809DFF;
}
:root {
  --color-background: #FCFDFF;
  --color-foreground: #000000;
  --color-primary: #0037EB;
  --color-secondary: #809DFF;

  --font-sans: 'Poppins', sans-serif;

  color-scheme: light;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}


/* === Body Setup === */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

/* === Scrollbar Customization === */
* {
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

.no-scrollbar {
  scrollbar-width: none;
}